body {
    font-family: 'Poppins', sans-serif;
    background: #FAFAFC;
    color: #4a4a4e;
    transition: .2s all;
}

.dark {
    background: #181818;
}

.element {
    position: relative;
}



.opts {
    color: gray;
}

.opt-1 {
    color: black;
}

.opt-1,
.opt-2 {
    transition: .2s all;
}

.active .opt-1 {
    color: gray;
}

.active .opt-2 {
    color: white;
}